html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}*/
.image-container {
    display: flex;
    justify-content: center; /* Yatay ortalama */
    align-items: center; /* Dikey ortalama */
    height: 100px;
}

.center-image {
    max-width: 100px; /* Resmin geniþliðini sýnýrla */
    height: auto; /* Oranýný koruyarak yüksekliði otomatik ayarla */
}

button.btn-login {
    background-color: #800000 !important; /* Bordo arka plan */
    border-color: #000000 !important; /* Siyah kenarlýk */
    color: white !important; /* Beyaz metin */
}


/* Sayfa genel ayarlarý */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Navbar, içerik ve footer sýralanýr */
    min-height: 100vh; /* Sayfa yüksekliðini ekran boyutuna göre ayarlar */
}

/* Ana içerik (RenderBody) */
main {
    flex: 1; /* Ýçeriðin esnek olarak alan kaplamasýný saðlar */
}

/* Footer düzeni */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.carousel-inner img {
    width: 100%; /* Yatayda tam geniþlik */
    height: auto; /* Dikey oraný korur */
    object-fit: contain; /* Resmin tamamýný gösterir, boþ alan býrakabilir */
    background-color: black; /* Boþ alan siyah olarak görünür */
}

