@model List<ArtBase.Models.WatchListsModel>
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-lg-start"><strong>Kullanıcı Adı:</strong> @ViewBag.UserName</h2>
    <br /> <br />


    <h3>Toplam İzleme Süresi: @ViewBag.TotalRuntime</h3>
    <h3>İzlediklerim</h3>
    @Html.Partial("~/Views/Shared/_HorizontalWatchlist.cshtml", Model)
</div>

